#about {
  .about__wrapper {
    padding: 30px;
  }
  .social {
    &__list {
      &--item {
        a {
          color: $yellow;
          &:hover, &:focus{
              color: $light-brown;
            //   color: ;
          }
        }
      }
    }
  }
}
