.about {
    padding: 6em 0em;
    background-color: $white;
    position: relative;
    &__wrapper {
        // display: flex;
        // flex-direction: row;
    }
    &__image {
        width: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 6em;
        left: 0;
        height: 100%;
        z-index: 0;
        img {
            width: 100%;
            object-fit:contain
        }
    }
    &__content {
        width: 60%;
        background-color: $white;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
        margin: 60px 0 0 auto;
        position: relative;
        z-index: 2;
        padding: 30px;
    }

    &__background{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 0;
        transform: rotateY(180deg);
        width: 40%;
    }
}

.services {
    position: relative;
    padding: 6em 0;
}