.cyan {
    color: $brand-color;
}
.light-brown{
    color: $light-brown;
}

.dark-brown{
    color: $brand-color;
}

.gray2 {
    color: $gray2;
}

.text-center{
    text-align: center;
}

.section {
    padding: 60px 0;
    &__title {

    }
    &__image {
        width: 100%;
        height: 500px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}