/* colors */
$brand-color: #00c2cb;
$white: #ffffff;
$black: #000000;
$gray: #1f3030;

/* font sizes */
$xsmall: 12px;
$small: 14px;
$regular: 16px;
$medium: 18px;
$large: 24px;
$xxl:60px;
$xl:48px;
$large:36px;
$medium1:30px;
$medium2: 24px;
$regular1:20px;

/* font family */
$roboto: 'Roboto Condensed', sans-serif;
$raleway: 'Raleway', sans-serif;

