/* colors */
// $brand-color: #00c2cb; //this is cyan
// $brand-color: #46332c;
$brand-color:#5a3427;
$white: #ffffff;
$black: #000000;
$gray: #1f3030;
// $light-brown: #996e4f;
$light-brown:#a69b7d;
$yellow:#d8a740;

$gray2: #272727BF;
$gray3: #666D78;

/* font sizes */
$xsmall: 12px;
$small: 14px;
$regular: 16px;
$medium: 18px;
$medium1:24px;
$large: 30px;
$large2:36px;
$xxl:60px;
$xl:44px;

/* font family */
$roboto: 'Roboto Condensed', sans-serif;
$raleway: 'Raleway', sans-serif;

